@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
  --bg: #1B2430;
  --purple: #7A86B6;
  --bluish: #395B64;
  --white: #E9D5DA;
}

::selection {
  background: var(--white);
}

body {
  background: var(--bg);
  color: var(--bluish);
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  font-size: 18px;
}

a {
  color: var(--purple);
}

a:hover {
  text-decoration: none;
  text-shadow: 0 0 2px #adb4d2;
}

#command-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

#command-line>span {
  color: var(--white);
  display: inline-block;
}

#old-command {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

div:has(> #old-command) {
  margin-bottom: 20px;
}

#old-command>span {
  color: var(--white);
  display: inline-block;
}

.cursor {
  font-size: 12px;
  background-color: var(--purple);
  opacity: 1;
  height: 1.5em;
  width: 8px;
  margin-left: -8px;
  animation: blinker 1.2s linear infinite;
}

#typer {
  color: var(--purple) !important;
  font-weight: 500;
}

textarea {
  position: absolute;
  left: -1200px;
}

.glow {
  color: var(--purple);
  text-shadow: 0 0 2px #adb4d2;
  font-weight: 500;
}

.projectgrid {
  max-width: 925px !important;
  grid-template-columns: 1fr 6fr !important;
}

.grid {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 3fr;
  margin: 10px 0;
}

.error {
  padding-left: 0 !important;
  color: #ea8685;
  margin-top: -20px;
}

div:has(> .error) {
  margin-bottom: 0 !important;
}

.whois {
  padding-left: 30px;
  padding-right: 30px;
}

#info span {
  font-size: 16px;
  color: var(--purple);
  font-weight: 700;
}

.typing {
  padding-left: 30px;
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  animation: typing 700ms;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  body {
    padding: 2px;
    font-size: 14px;
  }

  pre {
    display: none;
  }

  .projectgrid {
    width: 90vw;
  }

  .projectgrid>a {
    margin-bottom: 5px;
    display: inline-block;
  }

  .grid {
    display: block;
  }

  .grid>span {
    display: block;
  }

  .grid>.glow {
    margin-bottom: 5px;
  }

  .typing {
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
    animation: none;
  }

  .whois {
    padding-left: 10px;
    padding-right: 10px;
  }
}