@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  background: #242B2E;
  font-family: 'Roboto', monospace, sans-serif;
  color: #f1f2f6;
}

#command {
  /* background-color: #242B2E; */
  border: none;
  resize: none;
  caret-color: transparent;
  font-size: 16px;
  /* font: var(--type-body-l); */
  opacity: 1;
  text-decoration-color: var(--text-link);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.1em;
}

#command:focus {
  border: none;
  outline: none;
}

#command-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

#old-command {
  display: flex;
  align-items: center;
  gap: 8px;
}

#command-line>span {
  display: inline-block;
}

.cursor {
  font-size: 12px;
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  overflow: hidden;
  display: inline-block;
  text-decoration: blink;
  margin-left: -8px;
  animation: blinker 1.2s linear infinite;
}

textarea {
  position: absolute;
  left: -1000px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}