@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
  --bg: #1B2430;
  --purple: #7A86B6;
  --bluish: #395B64;
  --white: #E9D5DA;
}

body {
  background: var(--bg);
  font-family: 'Rubik', sans-serif;
  color: var(--bluish);
}

#command {
  border: none;
  resize: none;
  caret-color: transparent;
  font-size: 16px;
}

#command:focus {
  border: none;
  outline: none;
}

#command-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

#old-command {
  display: flex;
  align-items: center;
  gap: 8px;
}

#old-command>span {
  color: var(--white);
  display: inline-block;
}

#command-line>span {
  color: var(--white);
  display: inline-block;
}

.cursor {
  font-size: 12px;
  color: var(--purple);
  background-color: var(--purple);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  overflow: hidden;
  display: inline-block;
  text-decoration: blink;
  margin-left: -8px;
  animation: blinker 1.2s linear infinite;
}

#typer {
  color: var(--purple) !important;
}

textarea {
  position: absolute;
  left: -1000px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}